<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" [routerLink]="['/posts-add']">
            <mat-icon>add</mat-icon>
        </a>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="title" matSortDisableClear matSortDirection="asc">

            <!-- Title Column -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let row">{{row.title}}</td>
            </ng-container>

            <!-- Body Column -->
            <ng-container matColumnDef="body">
                <th mat-header-cell *matHeaderCellDef>Body</th>
                <td mat-cell *matCellDef="let row"> {{row.body}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/posts-details/', row.id]"></tr>
        </table>
    </div>
</div>