<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" [routerLink]="['/posts']">
            <mat-icon>list</mat-icon>
        </a>
    </div>
    <mat-card class="example-card">
        <form [formGroup]="formGroup" (ngSubmit)="onFormSubmit()">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Title" formControlName="title" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!formGroup.get('title').valid && formGroup.get('title').touched">Please enter title</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Body" formControlName="body" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!formGroup.get('body').valid && formGroup.get('body').touched">Please enter body</span>
                </mat-error>
            </mat-form-field>

            <div class="button-row">
                <button type="submit" [disabled]="!formGroup.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
            </div>
        </form>
    </mat-card>
</div>