<p>product works!</p>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Tên</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of products; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      <img [src]="item.imageurl" class="mr-2" style="width: 20px">
      {{ item.name }}
    </td>
  </tr>
  </tbody>
</table>
