<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/catalog']">Danh muc san pham</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Tin tuc</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Lien he</a>
  </li>

</ul>



<router-outlet></router-outlet>
