<header class="mastheadshop">
  <div class="container">
      <div class="masthead-heading">Shop</div>

  </div>
</header>
<section class="page-section bg-light products" id="mobiles">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Mobile</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
      <div class="row">
          <div class="col-lg-4 col-sm-6 mb-4">
              <div class="portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/img/portfolio/01-thumbnail.jpg" alt="" />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading">Threads</div>
                      <div class="portfolio-caption-subheading text-muted">Illustration</div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
              <div class="portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/img/portfolio/02-thumbnail.jpg" alt="" />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading">Explore</div>
                      <div class="portfolio-caption-subheading text-muted">Graphic Design</div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
              <div class="portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/img/portfolio/03-thumbnail.jpg" alt="" />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading">Finish</div>
                      <div class="portfolio-caption-subheading text-muted">Identity</div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
              <div class="portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/img/portfolio/04-thumbnail.jpg" alt="" />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading">Lines</div>
                      <div class="portfolio-caption-subheading text-muted">Branding</div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
              <div class="portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/img/portfolio/05-thumbnail.jpg" alt="" />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading">Southwest</div>
                      <div class="portfolio-caption-subheading text-muted">Website Design</div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/img/portfolio/06-thumbnail.jpg" alt="" />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading">Window</div>
                      <div class="portfolio-caption-subheading text-muted">Photography</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="page-section bg-light products" id="laptops">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">laptop</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
      <div class="row">
          <div class="col-lg-4 col-sm-6 mb-4">
              <div class="portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/img/portfolio/01-thumbnail.jpg" alt="" />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading">Threads</div>
                      <div class="portfolio-caption-subheading text-muted">Illustration</div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
              <div class="portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/img/portfolio/02-thumbnail.jpg" alt="" />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading">Explore</div>
                      <div class="portfolio-caption-subheading text-muted">Graphic Design</div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
              <div class="portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/img/portfolio/03-thumbnail.jpg" alt="" />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading">Finish</div>
                      <div class="portfolio-caption-subheading text-muted">Identity</div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
              <div class="portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/img/portfolio/04-thumbnail.jpg" alt="" />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading">Lines</div>
                      <div class="portfolio-caption-subheading text-muted">Branding</div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
              <div class="portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/img/portfolio/05-thumbnail.jpg" alt="" />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading">Southwest</div>
                      <div class="portfolio-caption-subheading text-muted">Website Design</div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="assets/img/portfolio/06-thumbnail.jpg" alt="" />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading">Window</div>
                      <div class="portfolio-caption-subheading text-muted">Photography</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
