<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Username</th>
      <th scope="col">
        <a [routerLink]="['register']">Dang ky</a>

      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let obj of data; let i=index">
      <th scope="row">{{i}}</th>
      <td>{{obj.firstname}}</td>
      <td>{{obj.firstname}}</td>
      <td>{{obj.firstname}}</td>
      <td>{{obj.firstname}}</td>
    </tr>

  </tbody>
</table>
