/* You can add global styles to this file, and also import other style files */
.seconds {
  background-color: black;
  color: red;
  font-size: 3em;
  margin: 0.3em 0;
  text-align: center;
  width: 1.5em;
}
